@model IEnumerable<restuarantmanagmentsystem.Models.Menu>
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Menu";
}

<p>
    <a id="btn" class="btn btn-default" asp-action="Create">Add New</a>
</p>
<div >
<table class="table">
    <h5>Starters</h5>
    <tbody>
@foreach (var item in Model) {
    @if((int)item.CategoryType == 1){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a id="menubtn" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a id="menubtn" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
<table class="table">
    <h5>Mains</h5>
    <tbody>
@foreach (var item in Model) {
     @if((int)item.CategoryType == 2){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <a id="menubtn" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a id="menubtn" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}}
    </tbody>
</table>
<table class="table">
    <h5>Desserts</h5>
    <tbody>
@foreach (var item in Model) {
     @if((int)item.CategoryType == 3){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <a id="menubtn" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a id="menubtn" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}}
    </tbody>
</table>
<table class="table">
    <h5>Drinks</h5>
    <tbody>
@foreach (var item in Model) {
     @if((int)item.CategoryType == 4){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <a id="menubtn" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a id="menubtn" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}}
    </tbody>
</table>
</div>
<div>
    <a class="btn btn-danger" asp-controller="Staffs" asp-action="Admin" asp-route-id=@Accessor.HttpContext.Session.GetInt32("_ID")>Back</a>

</div>